<div class="row borde shadow-lg p-3 mb-5 bg-white rounded">
  <div class="col-md-12">
	<h1>Editar Producto</h1>

	<%= render 'form', producto: @producto %>
	<br>
	<%= link_to 'Volver', productos_path, :class => "btn btn-secondary" %>
  </div>
</div>
