<div class="row borde shadow-lg p-3 mb-5 bg-white rounded">
  <div class="col-md-12">
	<h1>Nuevo Repuesto</h1>

	<%= render 'form', repuesto: @repuesto %>

	<br>
	<%= link_to 'Volver', repuestos_path, :class => "btn btn-secondary" %>
  </div>
</div>
